POSTGRES_PASS={{ env_petclinic_postgres_pass }}
POSTGRES_USER={{ env_petclinic_postgres_user }}
POSTGRES_DB={{ env_petclinic_postgres_db }}
POSTGRES_URL={{ env_petclinic_postgres_url }}
SPRING_PROFILES_ACTIVE={{ env_petclinic_spring_active_profile }}
